<h1>HERO LIST</h1>
#if ($heros)
<ul>
#foreach ($hero in $heros)

$hero.getName() $hero.getCreatedAt()
<li>$hero.getAge()</li>
<li>$hero.getSpower()</li>
<li>$hero.getWeakness()</li>
<br>
#end
</ul>

#else
<p>NO HERO NAMES!</p>
#end
<div>
<p>Add a new Hero:</p>
